In [1]:
import os

from mirrorverse.utils import read_data_w_cache

os.environ['HAVEN_DATABASE'] = 'haven'
os.environ['AWS_PROFILE'] = 'admin'

In [4]:
TEST = True

table = 'movement_model_inference_m1_a2_v1' if not TEST else 'movement_model_inference_m1_a2_v1_test'
data = read_data_w_cache(
    f'select * from {table}'
)
data = data[data['_selected'].isin([True, False])]
data.head()

,_decision,_choice,_selected,normed_distance,origin_h3_index,next_h3_index,h3_index,time,_individual,tag_key,log_odds,odds,probability,experiment_name,run_id,_train,_partition
0,1,1,False,0.707860,840c53bffffffff,840c53bffffffff,840c503ffffffff,2016-03-25,9,159019,-5.177792,0.005640,0.002980,movement-model-m1-a2-v1,002ac56689a3032c563974a82ed05bfd7c52c254811ba3...,False,0
1,1,2,False,0.794686,840c53bffffffff,840c53bffffffff,840c507ffffffff,2016-03-25,9,159019,-5.826635,0.002948,0.001557,movement-model-m1-a2-v1,002ac56689a3032c563974a82ed05bfd7c52c254811ba3...,False,0
2,1,3,False,0.768507,840c53bffffffff,840c53bffffffff,840c511ffffffff,2016-03-25,9,159019,-5.631003,0.003585,0.001894,movement-model-m1-a2-v1,002ac56689a3032c563974a82ed05bfd7c52c254811ba3...,False,0
3,1,16,False,0.701075,840c53bffffffff,840c53bffffffff,840c5e5ffffffff,2016-03-25,9,159019,-5.127090,0.005934,0.003135,movement-model-m1-a2-v1,002ac56689a3032c563974a82ed05bfd7c52c254811ba3...,False,0
4,1,17,False,0.704117,840c53bffffffff,840c53bffffffff,840c5e9ffffffff,2016-03-25,9,159019,-5.149827,0.005800,0.003064,movement-model-m1-a2-v1,002ac56689a3032c563974a82ed05bfd7c52c254811ba3...,False,0

In [5]:
(
    data[data['_selected']]
    .groupby(['_individual', '_train'])[['probability']]
    .mean().reset_index()
    .groupby('_train')[['probability']].mean()
)

        probability
_train
False      0.488684